#main{
    background-color: rgb(219, 219, 219);
}

#body-wrapper{
    min-width: 100%;
    padding: 0 ;
    display:flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.2rem;
    padding-top: 0.2rem;

}

#body-wrapper> :last-child{
    width: 100%;
    flex-basis: 50px;
    background-color:rgb(167, 167, 167) ;
    text-align: center;
    padding-top:1rem;
    padding-bottom:1rem;
}
p{
    margin:0;
    line-height: 2rem;
}

.blog-item{
    /* flex: 0 1 auto; */
    display:flex;
    flex-basis:auto;
    flex-flow: row wrap;
    background-color: rgb(167, 167, 167);
    min-width: 100%;
    margin-bottom: 0.2rem;
    /* margin:5px; */
}
.blog-item>*{
    border: solid 2px rgb(117, 117, 117) ;
    
}

.blog-item>:nth-child(1){

    flex: 1 1 30%;

}
.blog-item>:nth-child(2){
    flex: 1 1 70%;
    padding:0 1rem;

}
.blog-item>div>img{
    display:block;
    width: 100%;        /* Make it occupy 100% of the size of the <div> */
}